    <div class="header">
      <div class="container">
        <ul class="nav">
            <li>About</li>
            <li>Work</li>
            <li>Interests</li>
            <li>Contact</li>  
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>Hello!! My name is Vicky!! </h1>
          <h1>I create Rails Apps!!</h1>
          <a class ="btn-primary" href"#">Learn More about Vicky</a>
          

        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/design.svg">
          <h2>Resume</h2>
          <p>About me in a page</p>
          <a class="btn-default" href="#">Learn more</a>
        </div>
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/develop.svg">
          <h2>Tech Stacks</h2>
          <p>Technlogies I am exposed to</p>
          <a class="btn-default" href="#">Learn more</a>
        </div>
        <div class="col">
          <img src="https://content.codecademy.com/projects/broadway/deploy.svg">
          <h2>Deploy</h2>
          <p>My repos</p>
          <a class="btn-default" href="#">Learn more</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Vicky Sat 2022</p>
      </div>
    </div>